.narvbar-pizza {
    background-color: #ff5722;
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
}
.narvbar-pizza .navbar-nav>li>a{
    color: #fff;
}

.narvbar-pizza .navbar-brand {
    color: #fff;
    font-weight: bolder;
}

.carousel-content {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
}
.carousel-caption {
    color: rgb(240, 237, 243);
    padding-bottom: 10px;
}
.about-pizz{
    margin-top: 30px;
    font-weight: bolder;

}
footer{
    height: 5vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    color: #fff;
}