.navbar-brand{
    margin-left: 50px;
}
.navbar-nav{
    margin-left: auto; 
    padding-left: 30%;  
}
.nav-item{
   margin-left: 50px;
}
 .nav-link a{
    color: honeydew;
}
nav{
    background-color: rgba(160, 9, 9, 0.733);
}
