.narvbar-pizza {
    background-color: #ff5722;
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
}
.narvbar-pizza .navbar-nav>li>a{
    color: #fff;
}

.narvbar-pizza .navbar-brand {
    color: #fff;
    font-weight: bolder;
}